$head-padding: 16px;

.header-padding {
  height: 50px;
}

#banner {
  border-bottom: none
}

.page-header h1 {
  font-size: 4em
}

.bs-docs-section {
  margin-top: 8em
}

.bs-component {
  position: relative
}

.bs-component .modal {
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  z-index: 1;
  display: block
}

.bs-component .modal-dialog {
  width: 90%
}

.bs-component .popover {
  position: relative;
  display: inline-block;
  width: 220px;
  margin: 20px
}

#source-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  font-weight: bold;
  padding: 5px 10px;
}

.progress {
  margin-bottom: 10px
}

footer {
  margin: 5em 0
}

footer li {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em
}

footer p {
  clear: left;
  margin-bottom: 0
}

.splash {
  padding: 4em 0 0;
  background-color: #141d27;
  color: #fff;
  text-align: center
}

.splash h1 {
  font-size: 4em
}

.splash #social {
  margin: 2em 0
}

.splash .alert {
  margin: 2em 0
}

.section-tout {
  padding: 4em 0 3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #eaf1f1
}

.section-tout .fa {
  margin-right: .5em
}

.section-tout p {
  margin-bottom: 3em
}

.section-preview {
  padding: 4em 0 4em
}

.section-preview .preview {
  margin-bottom: 4em;
  background-color: #eaf1f1
}

.section-preview .preview .image {
  position: relative
}

.section-preview .preview .image:before {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  pointer-events: none
}

.section-preview .preview .options {
  padding: 1em 2em 2em;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-top: none;
  text-align: center
}

.section-preview .preview .options p {
  margin-bottom: 2em
}

.section-preview .dropdown-menu {
  text-align: left
}

.section-preview .lead {
  margin-bottom: 2em
}

@media (max-width: 767px) {
  .section-preview .image img {
    width: 100%
  }
  .index-section{
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.sponsor {
  text-align: center
}

.sponsor a:hover {
  text-decoration: none
}

@media (max-width: 767px) {
  #banner {
    margin-bottom: 2em;
    text-align: center
  }
}

.infobox .btn-sup {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 15px;
  line-height: 30px;
}

.infobox .btn-sup img {
  opacity: 0.5;
  height: 30px;
}

.infobox .btn-sup span {
  padding-left: 10px;
  position: relative;
  top: 2px;
}

.icons-material .row {
  margin-bottom: 20px;
}

.icons-material .col-xs-2 {
  text-align: center;
}

.icons-material i {
  font-size: 34pt;
}

.icon-preview {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background: #D5D5D5;
  border-radius: 3px;
  cursor: pointer;
}

.icon-preview span {
  display: none;
  position: absolute;
  background: black;
  color: #EEE;
  padding: 5px 8px;
  font-size: 15px;
  border-radius: 2px;
  z-index: 10;
}

.icon-preview:hover i {
  color: #4285f4;
}

.icon-preview:hover span {
  display: block;
  cursor: text;
}

* {
  box-sizing: border-box;
}

.header-panel {
  background-color: #009587;
  height: 144px;
  position: relative;
  z-index: 3;
}

.header-panel div {
  position: relative;
  height: 100%;
}

.header-panel h1 {
  color: #FFF;
  /*font-size: 20px;*/
  /*font-weight: 400;*/
  position: absolute;
  bottom: 10px;
  padding-left: 35px;
}

.menu {
  overflow: auto;
  padding: 0;
}

.menu,
.menu * {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.menu ul {
  padding: 0;
  margin: 7px 0;
}

.menu ul li {
  list-style: none;
  padding: 20px 0 20px 50px;
  font-size: 15px;
  font-weight: normal;
  cursor: pointer;
}

.menu ul li.active {
  background-color: #dedede;
  position: relative;
}

.menu ul li a {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

.pages {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  padding: 0;
  overflow: auto;
}

.pages > div {
  padding: 0 5px;
  padding-top: 64px;
}

.pages .header {
  color: rgb(82, 101, 162);
  /*font-size: 24px;*/
  /*font-weight: normal;*/
  /*margin-top: 5px;*/
  /*margin-bottom: 60px;*/
  /*letter-spacing: 1.20000004768372px;*/
}

.page {
  transform: translateY(1080px);
  transition: transform 0s linear;
  display: none;
  opacity: 0;
  font-size: 16px;
}

.page.active {
  transform: translateY(0px);
  transition: all 0.3s ease-out;
  display: block;
  opacity: 1;
}

.opensource {
  color: rgba(0, 0, 0, 0.62);
  position: fixed;
  margin-top: 50px;
  margin-left: 50px;
  z-index: 100;
}

#source-modal h4 {
  color: black;
}

#paypal .btn {
  padding: 5px 30px 6px 30px;
}

#paypal input {
  background: transparent;
  border: 0;
}

.cbwrapper div {
  display: none;
}

.cbwrapper div:nth-child(2) {
  display: block;
}

#carbonads,
#fakecb {
  border: 1px solid #d5d5d5;
  font-size: 11px;
  line-height: 15px;
  overflow: hidden;
  width: 340px;
  padding: 20px;
  margin: auto;
  height: 142px;
  border-radius: 2px;
}

#carbonads .carbon-img {
  float: left;
  display: block;
}

#carbonads .carbon-text,
#carbonads .carbon-poweredby {
  float: left;
  width: 150px;
  padding: 0 10px 10px 10px;
}

#carbonads .carbon-text:hover,
#carbonads .carbon-poweredby:hover {
  text-decoration: none;
}

#carbonads .carbon-poweredby {
  color: #9D9D9D;
}

#shadow .sample {
  width: 100px;
  height: 100px;
  margin: 16px;
  padding: 16px;
  display: inline-block;
}

#shadow-sample2 {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 16px;
  padding: 16px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#shadow-sample3 {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 16px;
  padding: 16px;
  border-radius: 100px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#input .inputs {
  width: 80%;
}

#slider .sample2 {
  height: 150px;
}

/*==============================================================*/

/* 自定義 通用*/

.header-padding {
  height: 67px + $head-padding;
}

.va-middle {
  vertical-align: middle;
}

.va-top {
  vertical-align: top;
}

.va-bottom {
  vertical-align: bottom;
}

.well i.material-icons {
  vertical-align: top;
}

.sticky {
  position: sticky;
  top: 15px;
}

h1.header i {
  /* 令h1裡面的icon大小符合文字  */
  vertical-align: middle;
  font-size: 45px;
}

@media (max-width: 992px) {
  .desktop-display {
    display: none;
  }
  .mobile-display {
    display: block;
  }
}

@media (max-width: 768px) {
  .clear-margin-lr {
    margin: 0 0px;
  }
  .clear-padding-lr {
    padding-left: 0px;
    padding-right: 0px;
  }
  .minus-margin-lr {
    margin: 0 -19px;
  }
  .well {
    /* For 查看文章頁面 清除一些well的元素 */
    border: 0px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  }
}

/*封面頁 index*/

img.index-lg-icon {
  width: 250px;
  height: auto;
}

img.index-md-icon {
  width: 160px;
  height: auto;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  img.index-lg-icon {
    width: 150px;
    height: auto;
  }
  img.index-md-icon {
    width: 150px;
    height: auto;
    margin-bottom: 15px;
  }
}

.index-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.index-item {
  margin-bottom: 30px;
}

/* latest 類別選單*/

.menu ul li.divider {
  border-bottom: 1px solid;
  opacity: 0.08;
  height: 0px;
  margin-bottom: 10px;
  padding: 0px;
  padding-top: 10px;
}

/* [手機] 類別選單*/

@media (max-width: 992px) {
  .header-padding {
    height: 112px + $head-padding;
  }
  .menu {
    overflow: auto;
    padding: 0;
  }
  .menu ul {
    padding: 0 0px;
    margin: 0 20px 10px 20px;
    overflow-x: scroll;
    white-space: nowrap;
  }
  .menu ul li {
    list-style: none;
    padding: 10px;
    font-size: 15px;
    display: inline-block;
  }
  .menu ul li.divider {
    border-bottom: 0px solid;
    border-left: 1px solid;
    opacity: 0.08;
    height: 50px;
    width: 0px;
    margin: 0px;
    margin-left: 5px;
    padding: 0px;
    padding-right: 5px;
    vertical-align: middle;
  }
  .menu ul li.active {
    background-color: #dedede;
    position: relative;
  }
  .menu ul li a {
    color: rgb(51, 51, 51);
    text-decoration: none;
  }
}

@media (max-width: 768px) {
  .header-padding {
    height: 57px + $head-padding;
  }
}

.list-group {
  hr {
    /* 減少各文章分割線的margin */
    margin: 0px;
  }
  .list-group-item .row-action-primary i.num {
    font-style: normal;
    font-family: Arial;
  }
  .list-group-item .row-action-primary i.num-over10 {
    background: #fd9726;
  }
  a.list-group-item {
    padding: 15px 20px;
    text-transform: none;
    text-align: left;
    border-radius: 5px;
    white-space: normal;
  }
  .row-action-primary {
    vertical-align: top;
  }
}

span.item {
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
  margin: 0px 10px;
  border: 1px solid rgba(51, 51, 51, .2);
  border-radius: 3px;
  padding: 0px 5px;
}

@media (max-width: 768px) {
  .list-group a.list-group-item {
    padding: 25px 0px 10px 0px;
  }
  .article-list a.btn {
    margin: 0 0px;
  }
}

/*Loading Dots*/

/* http://tobiasahlin.com/spinkit/ */

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 50px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box.has-advanced-upload {
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
}

.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

.box.is-uploading .box__input {
  visibility: hidden;
}

.box.is-uploading .box__uploading {
  display: block;
}

label i {
  vertical-align: middle;
}

.tooltip-inner {
  width: auto;
  max-width: 300px;
}

footer {
  background: #333;
  margin: 0;
  line-height: 5rem;
  color: #888;
}

main {
  min-height: calc(100vh - 13rem);
}

hr[data-text] {
  position: relative;
  &:before {
    content: attr(data-text);
    font-size: small;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
  }
}

.g-recaptcha > div {
  margin-left: auto;
  margin-right: auto;
}

#back-to-top {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  z-index: 1;
  //transition: all .5s;
}

#back-to-top > * {
  line-height: 56px;
  font-size: 36px;
}

.page__loading {
  overflow: hidden;
  transition: .25s;
  max-height: 0;
}

.loading > .page__loading {
  max-height: 150px;
}

.like-btn {

  &.liked {
    color: $brand-primary !important;
    background-color: rgba(153, 153, 153, 0.2);
  }
}

.fb-like__container{
  overflow: hidden;
}

%force-center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#top-nav{
  &:before{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    content: "";
    top: 0;
    display: block;
    left: -2%;
    position: absolute;
    bottom: 0;
    width: 104%;
  }
}

@media (max-width: 375px) {
  .g-recaptcha {
    transform: scale(0.83);
    transform-origin: 0 0;
  }

}
@media (min-width: 993px){

  ::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
  }

  ::-webkit-scrollbar
  {
    width: .5rem;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb
  {
    background-color: #AAA;
    border-radius: 10px;
  }
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{
  max-height: calc(100vh - 57px);
}
