.navbar > .container .navbar-brand {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 25px;
  line-height: 25px;
  box-sizing: content-box;
  @media (max-width: 1199px) {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 27px;
    line-height: 27px;
  }
}
