#products {
  & {
    margin-right: -1rem;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .product-wrap {
    margin-right: 1rem;

    p {
      margin-bottom: 0;
    }
  }
}

#searchList {
  .row.section {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #DDD;

    &:last-of-type {
      border-bottom: 0;
    }
  }

}

.product-header {
  padding-top: 50px;
}

.product-information, .introduce, .checkout-info {
  background-color: white;
  padding: 32px;
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
}

.product-price, .price-amount {
  color: #ff5722;
  font-weight: 700;
}

.info-header, .info-about {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, .09);
}

.info-about {
  padding-top: 10px;
  line-height: 16px;
}

.info-price {
  padding-top: 15px;
}

.buy-btn {
  margin-top: 30px;
}

.suggest {
  color: rgba(0, 0, 0, .54);
}

#amount {
  width: 250px;
}

.remaining {
  color: rgba(0, 0, 0, .54);
  font-size: 0.58em;
}

.introduce {
  margin-top: 50px;
}

.introduce-title {
  border-bottom: 1px solid rgba(0, 0, 0, .09);
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.product-image {
  margin-left: 37.5px;
  width: 450px;
  height: auto;
  border-radius: 4px;
}

.shoppingCar-image {
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
}

.shopping-table td, .shopping-table th {
  vertical-align: middle;
}

.shopping-table {
  padding-bottom: 20px;
  margin-bottom: 50px;
  border-bottom: 3px solid rgba(0, 0, 0, .09);
}

.discount-code {
  width: 150px;
  display: inline;
}

.buy-info {
  font-size: 35px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .09);
}

.btn-check-out {
  margin-left: 0px;
}

.checkout-info {
  margin-top: 50px;
  margin-bottom: 50px;
}

.payment-method {
  background-color: white;
  padding: 32px;
}

.payment-method td {
  border-top: none;
}

#imagesContainer {
  display: flex;
  flex-wrap: wrap;
  .upload-container {
    $border-color: #dddfe2;
    $border-darker-color: #ccc;

    position: relative;
    margin-right: .5rem;
    margin-bottom: .5rem;
    width: 7rem;
    height: 7rem;
    border: 2px dashed $border-color;
    border-radius: 2px;
    overflow: hidden;

    &:last-of-type {
      margin-right: 0;
    }
    &:hover, &:hover .addImageBtn {
      color: $border-darker-color !important;
      border-color: $border-darker-color !important;
    }
    .close-btn {
      position: absolute;
      right: .5rem;
      top: 0;
      font-size: 1.25rem;
      color: #FFF;
      font-weight: bold;
      z-index: 100;
      cursor: pointer;
    }
    input {
      display: none;
      position: absolute;
      left: -200px;
      top: -200px;
      width: 400px;
      height: 400px;
      z-index: 99;
      opacity: 0;

      cursor: pointer;
    }

    .img {
      &:not([src=""]){
        ~.addImageBtn{
          text-indent: -999px;
          position:absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          display: block;
          background: rgba(0, 0, 0, .3);
          z-index: 99;
        }
      }
      &[src="" ] {
        display: none;
        + input {
          display: block;
        }
        ~ .addImageBtn {
          $size: 3rem;
          font-size: $size;
          width: $size;
          height: $size;
          display: inline-block;
          text-align: center;
          border-radius: $size;
          border: 2px solid $border-color;
          color: $border-color;
          line-height: $size - .25rem;
          position: absolute;
          z-index: 97;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  #uploaderBase .close-btn{
    display: none;
  }

}